*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	
}

.container{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background: url(images/student.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

form{
	width: 85%;
	max-width: 400px;
}
.inpname{
	margin-bottom: 30px;
	position: relative;
	margin-top: 10px;
}

input{
	width: 100%;
	padding: 10px;
	border: 1px solid white;
	color: white;
	background: transparent;
	font-size: 16px;
}
label{
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	color: rgb(248, 245, 245);
	cursor: text;
	transition: 0.3s;
}

.btn{
	color: rgb(252, 250, 250);
	padding: 10px 0;
	background: transparent;
	border: 2px solid whitesmoke;
	width: 30%;
	cursor: pointer;
	box-sizing: border-box;
	box-shadow: 2px black;
	margin-left: 155px;
	position: relative;
	text-decoration: none;
}

input:focus~label{
	top: -35px;
	font-size: 14px;
}

h2{
	position: absolute;
	margin-bottom: 350px;
	text-align: center;
	color: rgb(221, 216, 216);
	font-family: monospace;
	font-size: 26px;
}